body {
    background: lightgrey;
}

#title {
    font-size: 50px;
}

nav {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#max-trials {

}

#start-div {
    margin-top: 100px;
    height: 750px;
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
}

#table {
    align-items: center;
    display: none;
}

#start-mouse-btn {
    background-color: cadetblue;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

#start-keyboard-btn {
    background-color: orange;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

#start-btn {
    background-color: green;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

#stop-btn {
    background-color: red;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

#submit-btn {
    background-color: green;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

#clicker {
    background-color: grey;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 7px;
    width: 300px;
    height: 300px;
    top: 550px;
    position: absolute;
}

footer {

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.popup {
    font-family: "Roboto Mono", sans-serif;
    width: 400px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #333333;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    font-family: "Roboto Mono", sans-serif;
}

.popup p {
    text-align: center;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: red;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: "Roboto Mono", sans-serif;
}

table {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}